
[*]
charset=utf-8
end_of_line=crlf
trim_trailing_whitespace=true
insert_final_newline=true
indent_style=space
indent_size=4

# Microsoft .NET properties
csharp_new_line_before_open_brace=none
csharp_new_line_between_query_expression_clauses=false
csharp_preferred_modifier_order=public, protected, internal, private, new, abstract, virtual, override, sealed, static, readonly, extern, unsafe, volatile, async:warning
csharp_space_after_cast=false
csharp_space_after_keywords_in_control_flow_statements=false
csharp_style_var_elsewhere=false:warning
csharp_style_var_for_built_in_types=false:warning
csharp_style_var_when_type_is_apparent=false:warning
dotnet_naming_rule.constants_rule.severity=warning
dotnet_naming_rule.constants_rule.style=upper_camel_case_style
dotnet_naming_rule.constants_rule.symbols=constants_symbols
dotnet_naming_rule.event_rule.severity=warning
dotnet_naming_rule.event_rule.style=lower_camel_case_style
dotnet_naming_rule.event_rule.symbols=event_symbols
dotnet_naming_rule.private_constants_rule.severity=warning
dotnet_naming_rule.private_constants_rule.style=upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_static_readonly_rule.severity=warning
dotnet_naming_rule.private_static_readonly_rule.style=lower_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_rule.property_rule.severity=warning
dotnet_naming_rule.property_rule.style=lower_camel_case_style
dotnet_naming_rule.property_rule.symbols=property_symbols
dotnet_naming_rule.public_fields_rule.severity=warning
dotnet_naming_rule.public_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.public_fields_rule.symbols=public_fields_symbols
dotnet_naming_rule.static_readonly_rule.severity=warning
dotnet_naming_rule.static_readonly_rule.style=lower_camel_case_style
dotnet_naming_rule.static_readonly_rule.symbols=static_readonly_symbols
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.upper_camel_case_style.capitalization=pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds=field
dotnet_naming_symbols.constants_symbols.required_modifiers=const
dotnet_naming_symbols.event_symbols.applicable_accessibilities=*
dotnet_naming_symbols.event_symbols.applicable_kinds=event
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_naming_symbols.property_symbols.applicable_accessibilities=*
dotnet_naming_symbols.property_symbols.applicable_kinds=property
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers=static,readonly
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:warning

# ReSharper properties
resharper_align_linq_query=true
resharper_allow_comment_after_lbrace=true
resharper_apply_auto_detected_rules=false
resharper_blank_lines_between_using_groups=1
resharper_braces_for_ifelse=not_required
resharper_braces_redundant=false
resharper_can_use_global_alias=false
resharper_csharp_blank_lines_around_invocable=0
resharper_csharp_empty_block_style=together
resharper_csharp_insert_final_newline=true
resharper_csharp_stick_comment=false
resharper_csharp_wrap_before_ternary_opsigns=false
resharper_csharp_wrap_multiple_declaration_style=wrap_if_long
resharper_csharp_wrap_ternary_expr_style=wrap_if_long
resharper_default_private_modifier=explicit
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_while_stmt=true
resharper_keep_existing_declaration_parens_arrangement=false
resharper_keep_existing_embedded_arrangement=false
resharper_keep_existing_expr_member_arrangement=false
resharper_keep_existing_initializer_arrangement=false
resharper_keep_existing_switch_expression_arrangement=false
resharper_max_formal_parameters_on_line=6
resharper_method_or_operator_body=expression_body
resharper_nested_ternary_style=compact
resharper_new_line_before_while=true
resharper_parentheses_non_obvious_operations=none
resharper_place_attribute_on_same_line=false
resharper_place_expr_accessor_on_single_line=true
resharper_place_expr_method_on_single_line=true
resharper_place_expr_property_on_single_line=true
resharper_place_linq_into_on_new_line=false
resharper_place_simple_case_statement_on_same_line=true
resharper_place_simple_embedded_statement_on_same_line=true
resharper_place_simple_enum_on_single_line=true
resharper_place_simple_method_on_single_line=true
resharper_space_after_cast=false
resharper_space_around_arrow_op=true
resharper_space_between_attribute_sections=false
resharper_space_within_single_line_array_initializer_braces=true
resharper_use_indent_from_vs=false
resharper_wrap_enum_declaration=chop_if_long
resharper_wrap_for_stmt_header_style=wrap_if_long

# ReSharper inspection severities
resharper_arguments_style_anonymous_function_highlighting=suggestion
resharper_arguments_style_literal_highlighting=suggestion
resharper_arguments_style_named_expression_highlighting=suggestion
resharper_arguments_style_other_highlighting=suggestion
resharper_arguments_style_string_literal_highlighting=suggestion
resharper_arrange_redundant_parentheses_highlighting=suggestion
resharper_arrange_static_member_qualifier_highlighting=warning
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_trailing_comma_in_multiline_lists_highlighting=warning
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_compare_of_floats_by_equality_operator_highlighting=none
resharper_convert_if_statement_to_conditional_ternary_expression_highlighting=warning
resharper_convert_if_statement_to_switch_statement_highlighting=warning
resharper_heap_view_boxing_allocation_highlighting=hint
resharper_heap_view_closure_allocation_highlighting=none
resharper_heap_view_delegate_allocation_highlighting=none
resharper_heap_view_object_allocation_evident_highlighting=hint
resharper_heap_view_object_allocation_highlighting=hint
resharper_invert_if_highlighting=warning
resharper_local_variable_hides_member_highlighting=none
resharper_member_can_be_made_static_global_highlighting=warning
resharper_not_accessed_field_global_highlighting=warning
resharper_parameter_hides_member_highlighting=none
resharper_parameter_type_can_be_enumerable_global_highlighting=warning
resharper_parameter_type_can_be_enumerable_local_highlighting=warning
resharper_possible_multiple_enumeration_highlighting=none
resharper_redundant_base_qualifier_highlighting=warning
resharper_redundant_empty_object_creation_argument_list_highlighting=warning
resharper_redundant_explicit_array_creation_highlighting=none
resharper_suggest_base_type_for_parameter_highlighting=warning
resharper_switch_statement_handles_some_known_enum_values_with_default_highlighting=none
resharper_switch_statement_missing_some_enum_cases_no_default_highlighting=none
resharper_use_deconstruction_highlighting=warning
resharper_web_config_module_not_resolved_highlighting=warning
resharper_web_config_type_not_resolved_highlighting=warning
resharper_web_config_wrong_module_highlighting=warning

[*.csproj]
indent_size=2
