<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true" internalLogFile="logs\internalLog.txt" internalLogLevel="Info">
    <time xsi:type="FastUTC" />
    
    <variable name="startTime" value="${cached:cached=true:inner=${date:format=dd.MM.yyyy-hh.mm.ss}}" />
    <variable name="defaultLayout" value="(${longdate}) ${level:uppercase=true} in ${logger}: ${message}" />
    
    <targets>
        <target name="debugger" xsi:type="Debugger" layout="${defaultLayout}" />
        <target name="file" xsi:type="File" fileName="${currentdir}\logs\${startTime}.log"
                header="This PPR (v${assembly-version}) log has started at ${startTime} on ${machinename}"
                footer="THIS LOG FILE IS ARCHIVED"
                layout="${defaultLayout}"
                maxArchiveFiles="10" archiveNumbering="Date" archiveDateFormat="dd.MM.yyyy-hh.mm.ss" 
                archiveFileName="${currentdir}\logs\{#}_${startTime}.zip" archiveEvery="None"
                archiveOldFileOnStartup="true" enableArchiveFileCompression="true" writeFooterOnArchivingOnly="true" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="debugger" />
        <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
</nlog>
