<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

    <targets>
        <target name="debugger" xsi:type="Debugger" />
        <target name="file" xsi:type="File" fileName="logs/${shortdate}.log" replaceFileContentsOnEachWrite="false" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="debugger" />
        <logger name="*" minlevel="Error" writeTo="file" />
    </rules>
</nlog>
