<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
    <time xsi:type="FastUTC" />

    <variable name="dateFormat" value="dd.MM.yyyy-hh.mm.ss" />
    <variable name="startTime" value="${cached:cached=true:inner=${date:format=${dateFormat}}}" />
    <variable name="exceptionLayout" value="${onexception:inner=${newline}${exception}}" />
    <variable name="defaultLayout"
              value="(${longdate}) ${level:uppercase=true} in ${logger}: ${message}${exceptionLayout}" />

    <targets>
        <target name="debugger" xsi:type="Debugger" layout="${defaultLayout}" />
        <target name="console" xsi:type="Console" layout="${defaultLayout}" />
        <target name="file" xsi:type="File" fileName="logs/latest.log"
                header="This PPR (v${assembly-version}) log has started at ${startTime} on ${machinename}"
                layout="${defaultLayout}" maxArchiveFiles="10" archiveNumbering="DateAndSequence"
                archiveDateFormat="${dateFormat}" archiveFileName="logs/{#}.log" archiveEvery="None"
                archiveOldFileOnStartup="true" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="debugger" />
        <logger name="*" minlevel="Trace" writeTo="console" />
        <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
</nlog>
